<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="root" level="OFF"/>
    <logger name="org.springframework" level="OFF"/>
    <root level="OFF">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>